
#birdapp657  {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

#birdapp657 a {
    color: black;
}

#birdapp657 .bird_top {
    text-align: center;
    margin: auto;
    width: 600px;
    max-width: 100%;
    height: 3em;
}
#birdapp657 .bird_top.wagtail_only {
    height: 6.5em;
}

#birdapp657 .bird_top .bird_logo {
    float: left;
    transform: translateY(-25%);
}
#birdapp657 .bird_top.wagtail_only .bird_logo {
    transform: translateY(0);
}
#birdapp657 .bird_top .bird_logo a {
    text-decoration: None;
}
#birdapp657 .bird_top .bird_logo a h1 {
    font-size: 3.9em;
    line-height: 0.7em;
    margin: 10px 0px;
}
#birdapp657 .bird_top.wagtail_only .bird_logo a h1 {
    margin: 18px 0px;
}

#birdapp657 .bird_top .bird_menu {
    padding: 0px 0px;
}
#birdapp657 .bird_top.wagtail_only .bird_menu {
    float: right;
    margin: 27px 0px;
}

#birdapp657 .bird_top .bird_menu_child_list {
    margin: auto;
    padding: 0;
    display: block;
}
#birdapp657 .bird_top.wagtail_only .bird_menu_child_list  {
    margin: 4px auto;
}

#birdapp657 .bird_top .bird_menu_child {
    display: inline-block;
    font-size: larger;
    padding: 4px 0px;
}
#birdapp657 .bird_top .bird_menu_child:hover .bird_menu_grand_child_list {
    display: block;
}
#birdapp657 .bird_top .bird_menu_child:hover .bird_menu_grand_child_list:hover {
    display: block;
}
#birdapp657 .bird_top .bird_menu_grand_child_list {
    display: none;
    position: absolute;
    padding: 0 0px;
    margin: auto;
    left: 0;
    right: 0;
    width: 600px;
    height: 2em;
}
#birdapp657 .bird_top .bird_menu_grandchild {
    display: inline;
    margin: 14px 0 0 5px;
    float: right;
}
#birdapp657 .bird_top .bird_menu a {
    text-decoration: none;
    color: black;
    border: solid black 1px;
    padding: 3px 15px;
    margin: 2.5em 1px;
    white-space: nowrap;
}
#birdapp657 .bird_top .bird_menu a.active,
#birdapp657 .bird_top .bird_menu a:hover,
#birdapp657 .bird_top .bird_menu a:active {
    color: white;
    background-color: black;
}


#birdapp657 .content {
    margin: auto;
    width: 1200px;
    max-width: 100%;
}
#birdapp657 .content .collection_page .collection_item {
    width: 30%;
    float: left;
    padding: 0 10px;
}
#birdapp657 .content .collection_page .collection_item  img.cover_image {
    max-width: 100%;
    border: solid 1px black;
}

#birdapp657 .content .cover,
#birdapp657 .content .collection_page .collection_item h3,
#birdapp657 .content .collection_page .collection_item .meta,
#birdapp657 .content .meta,
#birdapp657 .content .body {
    padding: 0 10px;
}

#birdapp657 .content .cover img.top_cover_image {
    display: block;
    margin: auto;
    max-width: 100%;
    width: 900px;
    border: solid 1px;
}

#birdapp657 .content .body {
    color: #505050;
    text-align: left;
    font-size: 18px;
}

#birdapp657 .content .body .block-image img {
    display: block;
    margin: auto;
    max-width: 100%;
    width: 600px;
    height: auto;
}

#birdapp657 .content .body .block-code {
    background-color: #aeaeae;
    padding: 1em;
    margin-bottom: 1em;
    color: #230253;
    width: max-content;
}


#birdapp657 .content.boxed {
    width: 600px;
    max-width: 100%;
}
#birdapp657 .content.boxed .collection_page .collection_item {
    width: 360;
}

#birdapp657 .content.wide {
    width: 100%;
}
#birdapp657 .content.wide .collection_page .collection_item {
    width: 360;
}


@media (max-width: 1200px) {
    #birdapp657 .content .collection_page .collection_item {
        width: calc(50% - 20px);
        float: left;
    }
}


@media (max-width: 600px) {
    #birdapp657 .content .collection_page .collection_item {
        width: calc(100% - 20px);
        float: left;
    }
}
