body {
    margin: 0;
    padding: 0;
    position: fixed;
    overflow: scroll;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

#birdapp657  {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

#birdapp657 a {
    color: black;
}


#birdapp657 .bird_top_wraper.wagtail_only {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    overflow: scroll;
    overflow-x: hidden;
}
#birdapp657 .bird_top {
    text-align: center;
    margin: auto;
    width: 900px;
    max-width: calc(100% - 2em);
    height: 3em;
    padding: 0 1em;
}
#birdapp657 .bird_top.wagtail_only {
    left: 0;
    right: 0;
    height: 8em;
}
#birdapp657 .bird_top .bird_logo {
    float: left;
    transform: translateY(-25%);
}
#birdapp657 .bird_top.wagtail_only .bird_logo {
    transform: translateY(0);
}
#birdapp657 .bird_top .bird_logo a {
    text-decoration: None;
}
#birdapp657 .bird_top .bird_logo a h1 {
    font-size: 6em;
    line-height: 0.7em;
    margin: 10px 0px;
}
#birdapp657 .bird_top.wagtail_only .bird_logo a h1 {
    margin: 10px -3px;
}
#birdapp657 .bird_top .bird_menu {
    padding: 0px 0px;
    margin: 3px auto;
}
#birdapp657 .bird_top.wagtail_only .bird_menu {
    float: right;
    margin: 47px 0 0 0;
}
#birdapp657 .bird_top .bird_menu_child_list {
    margin: auto;
    padding: 0;
    display: block;
}
#birdapp657 .bird_top .bird_menu_child {
    display: inline-block;
    padding: 3px 0 0 0;
}
#birdapp657 .bird_top .bird_menu_child:hover .bird_menu_grand_child_list {
    display: block;
}
#birdapp657 .bird_top .bird_menu_child:hover .bird_menu_grand_child_list:hover {
    display: block;
}
#birdapp657 .bird_top .bird_menu_grand_child_list {
    display: none;
    position: absolute;
    padding: 0;
    margin: auto;
    width: max-content;
    z-index: 1;
}
#birdapp657 .bird_top .bird_menu_grand_child {
    display: inline;
    margin: 10px 5px 0 0px;
}
#birdapp657 .bird_top .bird_menu_child .bird_menu_grand_child_list .bird_menu_grand_child {
    float: right;
}
#birdapp657 .bird_top .bird_menu a {
    text-decoration: none;
    color: black;
    border: solid black 1px;
    padding: 2px 15px;
    margin: 1.7em 0px;
    white-space: nowrap;
    font-size: 1.3em;
}
#birdapp657 .bird_top .bird_menu a.active,
#birdapp657 .bird_top .bird_menu a:hover,
#birdapp657 .bird_top .bird_menu a:active {
    color: white;
    background-color: black;
}


#birdapp657 .content_wrapper.wagtail_only {
    position: fixed;
    top: 8em;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: scroll;
    overflow-x: hidden;
}
#birdapp657 .content {
    margin: auto;
    width: 900px;
    max-width: calc(100% - 2em);
    padding: 0 1em;
}

#birdapp657 .breadcrumbs_wraper {
    position: absolute;
    bottom: 0em;
    width: 100%;
}

#birdapp657 .breadcrumbs {
    margin: auto;
    width: 900px;
    padding: 0.5em 1em;
}

#birdapp657 .content .search {
    text-align: center;
    border-bottom: solid 1px black;
    max-width: 100%;
    margin: auto;
}
#birdapp657 .content .search_result {
    margin: auto;
    max-width: 100%;
}
#birdapp657 .content .search_result ul {
    display: block;
    text-align: center;
    padding: 0;
}
#birdapp657 .content .search_result li {
    display: block;
/*    max-width: max-content;*/
}
#birdapp657 .content .search_result li h3 {
    margin: 0 0 1em 0;
}
#birdapp657 .content .search_result li .search_result_item_cover {
    margin: auto;
    width: 300px;
    overflow: hidden;
    border: solid 1px black;
}
#birdapp657 .content .search_result li .search_result_item_cover img {
    width: 100%;
    transition: all 1s ease;
}
#birdapp657 .content .search_result li .search_result_item_cover img:hover {
    transform: scale(1.25);
}


/** Ugly remove **/
#birdapp657 .content .rich-text img {
    display: block;
    max-width: 100%;
    height: auto;
}
#birdapp657 .content .richtext-image.right {
    margin: 0 0 0 auto;
}
#birdapp657 .content .richtext-image.full-width {
    width: 100%;
}

#birdapp657 .content .responsive-object {
    position: relative;
    padding-bottom: 0px !important;
    height: 494px;
    max-width: 100%;
    margin: auto;
}
#birdapp657 .content .responsive-object iframe,
#birdapp657 .content .responsive-object object,
#birdapp657 .content .responsive-object embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/** ^ End Ugly ^ **/


#birdapp657 .content .collection_page {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}
#birdapp657 .content .collection_page .collection_item {
    width: 30%;
}

#birdapp657 .content .collection_page .collection_item .collection_item_cover{
    border: solid 1px black;
    overflow: hidden;
}

#birdapp657 .content .collection_page .collection_item  img.cover_image {
    max-width: 100%;
    transition: all 1s ease;
}
#birdapp657 .content .collection_page .collection_item  img.cover_image:hover {
    transform: scale(1.25);
}
#birdapp657 .content .collection_page .collection_item h3 {
    margin: 0 0 1em 0;
}
#birdapp657 .content .collection_page .collection_item .intro {
    margin: 1em 0;
}



#birdapp657 .content.solo {
    padding: 0;
}
#birdapp657 .content .cover img.top_cover_image {
    display: block;
    margin: auto;
    max-width: 100%;
    width: 900px;
    border: solid 1px;
}
#birdapp657 .content .content_body {
    color: #505050;
    text-align: left;
    font-size: 18px;
}

/* blocks */
#birdapp657 .content_wrapper .content .content_body .block-image {
    padding: 1em 0;
}
#birdapp657 .content_wrapper .content .content_body .block-image img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
}
#birdapp657 .content .content_body .block-code {
    background-color: #aeaeae;
    padding: 1em;
    margin-bottom: 1em;
    color: #230253;
    width: max-content;
}
#birdapp657 .content .content_body .block-racer {
    position: relative;
    left: 50%;
    width: 100vw;
    display: flex;
    margin-left: -50vw;
}
#birdapp657 .content .content_body .block-racer .racer {
    width: 100%;
    min-height: 10em;
}
#birdapp657 .content .content_body .block-racer .racer .inner_racer {
    width: 900px;
    margin: auto;
    padding: 1em 0;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}
#birdapp657 .content .content_body .block-racer .racer .inner_racer.right {
    flex-wrap: wrap-reverse;

}
#birdapp657 .content .content_body .block-racer .racer .racer_text {
    max-width: 100%;
    width: 450px;
    margin: auto;
}
#birdapp657 .content .content_body .block-racer .racer .racer_text .rich-text {
    top: 50%;
    max-width: 100%;
    margin: auto;
}
#birdapp657 .content .content_body .block-racer .racer .racer_text.right .rich-text {
    padding: 0 0 0 1em;
}
#birdapp657 .content .content_body .block-racer .racer .racer_image {
    width: 450px;
    margin: auto;
}
#birdapp657 .content .content_body .block-racer .racer .racer_image img {
    width: 100%;
}

#birdapp657 .content.boxed {
    width: 600px;
    max-width: 100%;
}
#birdapp657 .content.boxed .collection_page .collection_item {
    width: 360;
}

#birdapp657 .content.wide {
    width: 100%;
}
#birdapp657 .content.wide .collection_page .collection_item {
    width: 360;
}


@media (max-width: 1200px) {
    #birdapp657 .content .collection_page .collection_item {
        width: 40%;
    }
}


@media (max-width: 900px) {
    #birdapp657 .bird_top.wagtail_only {
        height: 7em;
    }
    #birdapp657 .bird_top .bird_logo a h1 {
        font-size: 5em;
    }
    #birdapp657 .bird_top.wagtail_only .bird_menu {
        margin: 36px 0 0 0;
    }
    #birdapp657 .content_wrapper.wagtail_only {
        top: 7em;
    }

    #birdapp657 .content .content_body .block-racer .racer .racer_text.right .rich-text {
        padding: 0;
    }
}

@media (max-width: 700px) {
    #birdapp657 .bird_top.wagtail_only {
        height: 6.5em;
    }
    #birdapp657 .bird_top .bird_logo a h1 {
        font-size: 4em;
    }
    #birdapp657 .bird_top.wagtail_only .bird_menu {
        margin: 25px 0 0 0;
    }
    #birdapp657 .content_wrapper.wagtail_only {
        top: 6.5em;
    }
}

@media (max-width: 600px) {
    #birdapp657 .content .content_body .block-racer .racer .racer_text {
        width: 100%;
    }
    #birdapp657 .content .content_body .block-racer .racer .racer_text .rich-text {
        position: relative;
        transform: none;
        top: 50%;
        width: calc(100% - 2em);
    }
    #birdapp657 .content .content_body .block-racer .racer .racer_image {
        width: 100%;
        padding: 0 16px;
    }
    #birdapp657 .content .content_body .block-racer .racer .racer_image.right {
        margin: 0 0 1em 0;
    }
    #birdapp657 .content .responsive-object {
        height: 320px;
    }
    #birdapp657 .content .collection_page .collection_item {
        width: 100%;
        float: left;
    }
}

@media (max-width: 571px) {
    #birdapp657 .bird_top.wagtail_only {
        height: 8em;
    }
    #birdapp657 .bird_top.wagtail_only .bird_logo {
        text-align: left;
    }
    #birdapp657 .bird_top.wagtail_only .bird_logo a h1 {
        margin: 13px 0 0 0;
    }

    #birdapp657 .bird_top.wagtail_only .bird_menu {
        text-align: left;
        float: left;
        margin: 0;
    }
    #birdapp657 .bird_top.wagtail_only .bird_menu_grand_child_list {
        padding: 0 25vw 0 0;
        margin: 0 0 0 0;
    }
    #birdapp657 .content_wrapper.wagtail_only {
        top: 8.5em;
    }
}

@media (max-width: 571px) {
    #birdapp657 .bird_top.wagtail_only {
        height: 8.5em;
    }
    #birdapp657 .bird_top.wagtail_only .bird_menu {
        text-align: left;
        float: left;
        margin: 0;
    }
    #birdapp657 .bird_top .bird_menu_child {
        padding: 3px 4px 0 0;
        margin: 5px 0px;
    }
    #birdapp657 .bird_top.wagtail_only .bird_menu_grand_child_list {
        margin: 3px 0 0 0;
        background-color: white;
    }
    #birdapp657 .bird_top.wagtail_only .bird_menu_grand_child {
        margin: 10px 0 0 0;
        padding: 0 10px 3px 0;
    }
    #birdapp657 .content .responsive-object {
        height: 277px;
    }

}
@media (max-width: 400px) {
    #birdapp657 .content .responsive-object {
        height: 217px;
    }
}
