
{% load wagtailcore_tags wagtailimages_tags %}


{% if feed_posts %}
<div class="collection_page">
    {% for p in feed_posts %}
        <div class="collection_item">
            <a href="{% pageurl p %}">
                {% if p.specific.coverImage %}
                {% image p.specific.coverImage original as tmp_img %}
                <div class="collection_item_cover">
                    <img src="{{ tmp_img.url }}" alt="{{ tmp_img.alt }}" class="cover_image" />
                </div>
                {% endif %}
                {% if value.show_title %}
                <div class="collection_item_title">
                    <h3>{{ p.title }}</h3>
                </div>
                {% endif %}
            </a>
            {% if value.show_meta %}
            <span class="meta">
            {% if p.go_live_at and post.specific.show_date and value.show_date %}
                {{ p.go_live_at|date:"d M Y" }} 
            {% elif p.specific.show_date and value.show_date %}
                {{ p.first_published_at|date:"d M Y" }}
            {% endif %}
            {% if p.specific.show_author and value.show_author %} / {{ p.specific.author }}{% endif %}
            </span>
            {% endif %}
            {% if value.show_intro %}
            <div class="intro">
            {{ p.specific.intro|richtext }}
            </div>
            {% endif %}
        </div>
    {% endfor %}
</div>
{% endif %}