
{% load wagtailcore_tags wagtailimages_tags %}


{% if feed_posts %}
<div style="background-color:{{ value.bg_color }}; color:{{ value.text_color }};" >
{% if value.use_grid_template %}
<div class="grid_block {{ value.block_class }}" >
{% else %}
<div class="feed_block {{ value.block_class }}" >
{% endif %}
    {% for p in feed_posts %}
        {% if value.use_grid_template %}
        <div class="grid_page">
            <a href="{% pageurl p %}" style="color:{{ value.text_color }};">
                {% image p.specific.cover_image min-400x400 as tmp_img %}
                <div class="grid_page_cover">
                    <img src="{{ tmp_img.url }}" alt="{{ tmp_img.alt }}" class="cover_image" loading="lazy" />
                </div>
                {% if value.show_title or value.show_meta %}
                <div class="grid_page_title">
                    {% if value.show_title %}
                    <h3>{{ p.title }}</h3>
                    {% endif %}
                    {% if value.show_meta %}
                    <span >
                    {% if p.go_live_at and p.specific.show_date and value.show_date %}
                        {{ p.go_live_at|date:"d M Y" }} 
                    {% elif p.specific.show_date and value.show_date %}
                        {{ p.first_published_at|date:"d M Y" }}
                    {% endif %}
                    {% if p.specific.show_author != False and value.show_author != False %} / {{ p.specific.author }}{% endif %}
                    </span>
                    {% endif %}
                </div>
                {% endif %}
               
            </a>
            {% if value.show_intro %}
            <div class="intro">
            {{ p.specific.intro|richtext }}
            </div>
            {% endif %}
            
            {% if value.show_content %}
            <div class="intro">
            {{ p.specific.body }}
            </div>
            {% endif %}
        </div>
        {% else %}
        <div class="feed_item">
            <a href="{% pageurl p %}" style="color:{{ value.text_color }};">
                
                {% image p.specific.cover_image min-400x400 as tmp_img %}
                <div class="feed_item_cover">
                    <img src="{{ tmp_img.url }}" alt="{{ tmp_img.alt }}" class="cover_image" loading="lazy" />
                </div>

                {% if value.show_title %}
                <div class="feed_item_title">
                    <h3>{{ p.title }}</h3>
                </div>
                {% endif %}
            </a>
            {% if value.show_meta %}
            <span class="meta">
            {% if p.go_live_at and p.specific.show_date and value.show_date %}
                {{ p.go_live_at|date:"d M Y" }} 
            {% elif p.specific.show_date and value.show_date %}
                {{ p.first_published_at|date:"d M Y" }}
            {% endif %}
            {% if p.specific.show_author != False and value.show_author != False %} / {{ p.specific.author }}{% endif %}
            </span>
            {% endif %}

            {% if value.show_intro %}
            <div class="feed_intro">
            {{ p.specific.intro|richtext }}
            </div>
            {% endif %}

            {% if value.show_content %}
            <div class="feed_body">
            {{ p.specific.body }}
            </div>
            {% endif %}
        </div>
        {% endif %}
    {% endfor %}
</div>
</div>
{% endif %}