
{% load wagtailcore_tags wagtailimages_tags %}


{% if feed_posts %}
<div class="feed_block {{ value.block_class }}" >
    {% for p in feed_posts %}
        <div class="feed_item">

            {% if value.show_title %}
            <div class="feed_item_title">
                <h2>{{ p.title }}</h2>
            </div>
            {% endif %}

            {% if value.show_meta %}
            <span class="meta">
            {% if p.go_live_at and p.specific.show_date and value.show_date %}
                {{ p.go_live_at|date:"d M Y" }} 
            {% elif p.specific.show_date and value.show_date %}
                {{ p.first_published_at|date:"d M Y" }}
            {% endif %}
            {% if p.specific.show_author != False and value.show_author != False %} / {{ p.specific.author }}{% endif %}
            </span>
            {% endif %}

            <a href="{% pageurl p %}" >
                {% image p.specific.image min-400x400 as tmp_img %}
                {% image p.specific.image width-400 as 400_photo %}
                {% image p.specific.image width-600 as 600_photo %}
                {% image p.specific.image width-900 as 900_photo %}
                {% image p.specific.image width-900 as original_photo %}
                <div class="feed_item_image">
                    <img srcset="{{ 400_photo.url }} 400w,
                                {{ 600_photo.url }} 600w,
                                {{ 900_photo.url }} 900w,
                                {{ original_photo.url }} 901w"
                        sizes="(max-width: 400px) 400px,
                                (max-width: 600px) 600px,
                                (max-width: 900px) 900px,
                                901px"
                        src="{{ original_photo.url }}" alt="{{ original_photo.alt }}" class="image" loading="lazy" />
                </div>
            </a>

            {% if value.show_intro %}
            <div class="feed_intro">
            {{ p.specific.intro|richtext }}
            </div>
            {% endif %}

            {% if value.show_content %}
            <div class="feed_body">
            {{ p.specific.body }}
            </div>
            {% endif %}
            
        </div>
    {% endfor %}
</div>
{% endif %}