
{% load wagtailcore_tags wagtailimages_tags %}

<div class="hero-bt {{ value.block_class|default:'' }}
    {%if value.full_screen %} full_screen{% endif %}" style="color: {{ value.font_color }}; 
                        background-color: {{ value.bg_color }};
                        text-align: {{ value.text_align }};
                        {% if hero_photo %}background-image: url('{{ hero_photo.url }}');{% endif %}">

{% if value.text or value.button_link %}
    <div class="hero-content ">
        <div class="hero-content-text {{ value.text_align }}">
        {{ value.text|richtext }}
        {% include_block value.button_link %}
        </div>
    </div>
{% endif %}

</div>