
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load birdtags %}

<div class="racer {{ value.block_class }}"
    style="background-color:{{ value.bg_color }};">
    {% if value.right %}
    <div class="inner_racer right" >
        {% if value.text %}
            <div class="racer_text {{ value.text_color }}">{{ value.text|richtext }}</div>
        {% endif %}
        {% if value.image %}
            <div class="racer_image">
                    {% image value.image max-500x500 as tmp_img %}
                <img src="{{ tmp_img.url }}" alt="{{ tmp_img.alt }}" />
            </div>
        {% endif %}
    </div>
    {% else %}
    <div class="inner_racer left" >
        {% if value.image %}
            <div class="racer_image">
                {% image value.image max-500x500 as tmp_img %}
                <img src="{{ tmp_img.url }}" alt="{{ tmp_img.alt }}"  />
            </div>
        {% endif %}
        {% if value.text %}
            <div class="racer_text {{ value.text_color }}"">
                {{ value.text|richtext }}
            </div>
        {% endif %}
    </div>
    {% endif %}
</div>
