
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

<div class="racer" 
    style="background-color:{{ value.bg_color }}; color:{{ value.text_color }}">
    {% if value.right %}
    <div class="inner_racer" >
        {% if value.text %}
            <div class="racer_text" >{{ value.text|richtext }}</div>
        {% endif %}
        {% if value.image %}
            <div class="racer_image">
                    {% image value.image original as tmp_img %}
                <img src="{{ tmp_img.url }}" alt="{{ tmp_img.alt }}" />
            </div>
        {% endif %}
    </div>
    {% else %}
    <div class="inner_racer" >
        {% if value.image %}
            <div class="racer_image">
                {% image value.image original as tmp_img %}
                <img src="{{ tmp_img.url }}" alt="{{ tmp_img.alt }}"  />
            </div>
        {% endif %}
        {% if value.text %}
            <div class="racer_text">{{ value.text|richtext }}</div>
        {% endif %}
    </div>
    {% endif %}
</div>
