{% extends "bird_base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}


{% block contant %}
<div class="content">

    {% if page.get_descendants.live.not_in_menu %}
    <div class="collection_page">
        {% for post in page.get_descendants.live.not_in_menu %}
            <div class="collection_item">
                <a href="{% pageurl post %}">
                    {% if post.specific.coverImage %}
                    {% image post.specific.coverImage original as tmp_photo %}
                    <div class="collection_item_cover">
                        <img src="{{ tmp_photo.url }}" alt="{{ tmp_photo.alt }}" class="cover_image" />
                    </div>
                    {% endif %}
                    <div class="collection_item_title">
                        <h3>{{ post.title }}</h3>
                    </div>
                </a>
                <div class="meta">
                {{ post.first_published_at|date:"d M Y" }} / {{ post.specific.author }}
                </div>
            </div>
        {% endfor %}
    </div>
    {% endif %}

</div>
{% endblock %}