{% extends "bird_base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}


{% block content %}
<div class="content collection">

    {% if page.specific.intro %}
        <div class="collection_intro">
            {{ page.specific.intro|richtext }}
        </div>
    {% endif %}

    {% if posts %}
    <div class="collection_page">
        {% for post in posts %}
            <div class="collection_item">
                <a href="{% pageurl post %}">
                    {% if post.specific.coverImage and page.show_coverImage %}
                    {% image post.specific.coverImage original as tmp_img %}
                    <div class="collection_item_cover">
                        <img src="{{ tmp_img.url }}" alt="{{ tmp_img.alt }}" class="cover_image" />
                    </div>
                    {% endif %}
                    <div class="collection_item_title">
                        <h3>{{ post.title }}</h3>
                    </div>
                </a>
                <span class="meta">
                {% if post.go_live_at and page.show_date %}
                    {{ post.go_live_at|date:"d M Y" }} 
                {% elif page.show_date %}
                    {{ post.first_published_at|date:"d M Y" }}
                {% endif %}
                {% if page.show_author  %} / {{ post.specific.author }}{% endif %}
                </span>
                <div class="intro">
                {{ post.specific.intro|richtext }}
                </div>
            </div>
        {% endfor %}
    </div>
    {% endif %}

</div>
{% endblock %}