{% extends "bird_base_content.html" %}

{% load wagtailcore_tags wagtailimages_tags %}


{% block header %}

{% if page.specific.hide_header == True %}
    {# No header #}
{% else %}
    {{ block.super }}
{% endif %}

{% endblock header %}


{% block content %}
<div class="content ">

    {% if page.specific.show_breadcrumbs %}
    <div class="breadcrumbs">
        {% for ancestor in page.get_ancestors.public|slice:"2:" %}
        <a href="{% pageurl ancestor %}">{{ ancestor.title }}</a> /
        {% endfor %}
        {{ page.title  }}
    </div>
    {% endif %}
    
    {% if page.specific.image and page.specific.show_coverImage %}
    <div class="cover">
        {% image page.specific.image original as tmp_photo %}
        <img src="{{ tmp_photo.url }}" alt="{{ tmp_photo.alt }}" class="top_image" />
    </div>
    {% endif %}

    {% if page.specific.intro %}
    <div class="intro">{{ page.specific.intro|richtext }}</div>
    {% endif %}

    {{ page.specific.prolog }}

    <div class="form">
    <form action="{% pageurl page %}" method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
            {% if field.name == 'bird_pot' %}
            <div style='display: none;'>
                {{ field }}
            </div>
            {% else %}
            <div >
                {{ field.errors }}
                {% if field.widget_type == 'text' %}
                <input type="text" name="{{ field.name }}" maxlength="255" {% if field.field.required %}required="required"{% endif %} id="{{ field.id_for_label }}" placeholder="{{ field.label }}">
                {% else %}
                <input type="{{ field.widget_type|lower }}" name="{{ field.name }}" maxlength="255" {% if field.field.required %}required="required"{% endif %} id="{{ field.id_for_label }}" placeholder="{{ field.label }}">
                {% endif %}
            </div>
            {% endif %}
        {% endfor %}
        <input type="submit" value="Submit">
    </form>
    </div>
    
</div>
{% endblock content %}