{% extends "bird_base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
<div class="content">
    <div class="cover">
        {% if page.specific.coverImage  and page.specific.show_coverImage %}
            {% image page.specific.coverImage original as tmp_photo %}
            <img src="{{ tmp_photo.url }}" alt="{{ tmp_photo.alt }}" class="top_cover_image" />
        {% endif %}
        <h2>{{ page.title }}</h2>
    </div>
    <div class="meta">
        {% if page.go_live_at and page.show_date %}
            {{ page.go_live_at|date:"d M Y" }} 
        {% elif page.show_date %}
            {{ page.first_published_at|date:"d M Y" }}
        {% endif %}
        {% if page.show_author  %} / {{ page.specific.author }}{% endif %}
    </div>
    <p>{{ page.intro|richtext }}</p>
    <form action="{% pageurl page %}" method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
            {% if field.name == 'bird_pot' %}
            <div style='display: none;'>
            {% else %}
            <div >
            {% endif %}
                {{ field.errors }}
                <h4>{{ field.label }}</h4>
                {% if field.help_text %}
                <p>{{ field.help_text|safe }}</p>
                {% endif %}
                {{ field }}
            </div>
        {% endfor %}
        <br>
        <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}