{% extends "base.html" %}
{% load wagtailcore_tags wagtailsearchpromotions_tags wagtailimages_tags %}


{% block header %}

{% if page.specific.hide_header == True %}
    {# No header #}
{% else %}
    {{ block.super }}
{% endif %}

{% endblock header %}


{% block content %}
<div class="content ">

    {{ page.specific.top_hero }}
    
    {% if page.specific.show_breadcrumbs %}
    <div class="breadcrumbs">
        {% for ancestor in page.get_ancestors.public|slice:"2:" %}
        <a href="{% pageurl ancestor %}">{{ ancestor.title }}</a> /
        {% endfor %}
        {{ page.title  }}
    </div>
    {% endif %}
    
    <div class="search">
        <form action="." method="POST">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {{ form.search_query.errors }}
            <input type="text" id="id_search_query" name="search_query" 
                required="" placeholder="{% translate "Search" %}..">
            <button type="submit">{% translate "Search" %}</button>
        </form>
    </div>
    
    {% get_search_promotions search_query as search_promotions %}
    {% if search_promotions %}
    <div class="search_result">
            {% for search_promotion in search_promotions %}
                    <a href="{% pageurl search_promotion.page %}">
                        {% if search_promotion.page.specific.image %}
                        {% image search_promotion.page.specific.image width-400 as 400_photo %}
                        {% image search_promotion.page.specific.image width-720 as 720_photo %}
                        {% image search_promotion.page.specific.image width-900 as 900_photo %}
                        <div class="search_result_item">
                            <img srcset="{{ 400_photo.url }} 400w,
                                        {{ 720_photo.url }} 720w,
                                        {{ 900_photo.url }} 900w"
                                sizes="(max-width: 400px) 400px,
                                        (max-width: 720px) 720px,
                                        900px"
                                src="{{ 900_photo.url }}" alt="{{ 900_photo.alt }}" class="image" loading="lazy" />
                        </div>
                        {% endif %}
                        <h2>{{ search_promotion.page.title }}</h2>
                    </a>
            {% endfor %}
    </div>
    {% endif %}

    {% if search_results %}
    <div class="search_result">
        {% for result in search_results %}
            <a href="{% pageurl result %}">
                {% if result.specific.image %}
                {% image result.specific.image width-400 as 400_photo %}
                {% image result.specific.image width-720 as 720_photo %}
                {% image result.specific.image width-900 as 900_photo %}
                <div class="search_result_item">
                    <img srcset="{{ 400_photo.url }} 400w,
                                {{ 720_photo.url }} 720w,
                                {{ 900_photo.url }} 900w"
                        sizes="(max-width: 400px) 400px,
                                (max-width: 720px) 720px,
                                900px"
                        src="{{ 900_photo.url }}" alt="{{ 900_photo.alt }}" class="image" loading="lazy" />
                </div>
                {% endif %}
                <h2>{{ result.title }}</h2>
            </a>
        {% endfor %}
    </div>
    {% endif %}
    
</div>
{% endblock %}