{% extends "bird_base_content.html" %}
{% load wagtailcore_tags wagtailsearchpromotions_tags wagtailimages_tags %}


{% block content %}
        {% if page.specific.coverImage and page.specific.show_coverImage %}
        <div class="cover">
            {% image page.specific.coverImage original as tmp_photo %}
            <img src="{{ tmp_photo.url }}" alt="{{ tmp_photo.alt }}" class="top_cover_image" />
        </div>
        {% endif %}
        {% if page.specific.show_title %}
        <div class="title">
            <h2>{{ page.title }}</h2>
        </div>
        {% endif %}
        <div class="meta">
            {% if page.go_live_at and page.show_date %}
                {{ page.go_live_at|date:"d M Y" }} 
            {% elif page.show_date %}
                {{ page.first_published_at|date:"d M Y" }}
            {% endif %}
            {% if page.show_author  %} / {{ page.specific.author }}{% endif %}
        </div>
        <div class="search">
            <form action="." method="POST">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {{ form.search_query.errors }}
                <input type="text" id="id_search_query" name="search_query" 
                    required="" placeholder="Search">
            </form>
        </div>
        
        {% get_search_promotions search_query as search_promotions %}
        {% if search_promotions %}
        <div class="search_result">
            <ul>
                {% for search_promotion in search_promotions %}
                    <li>
                        <a href="{% pageurl search_promotion.page %}">
                            {% if search_promotion.page.specific.coverImage %}
                            {% image search_promotion.page.specific.coverImage original as tmp_photo %}
                            <div class="search_result_item_cover">
                                <img src="{{ tmp_photo.url }}" alt="{{ tmp_photo.alt }}" class="cover_image" />
                            </div>
                            {% endif %}
                            <h3>{{ search_promotion.page.title }}</h3>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        {% if search_results %}
        <div class="search_result">
            <ul>
                {% for result in search_results %}
                    <li>
                        <a href="{% pageurl result %}">
                            {% if result.specific.coverImage %}
                            {% image result.specific.coverImage original as tmp_photo %}
                            <div class="search_result_item_cover">
                                <img src="{{ tmp_photo.url }}" alt="{{ tmp_photo.alt }}" class="cover_image" />
                            </div>
                            {% endif %}
                            <h3>{{ result.title }}</h3>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
{% endblock %}