{% extends "bird_base_content.html" %}

{% load wagtailcore_tags wagtailimages_tags %}


{% block content %}
    {% for header in page.specific.header %}
    <div class="header" style="color: {{ header.value.font_color }}; background-color: {{ header.value.bg_color }};">
        {% if header.value.text %}
        <div class="header-text">
            {{ header.value.text|richtext }}
        </div>
        {% endif %}
        {% if header.value.block_media.type == 'video' %}
        <!--#TODO: But what about webm and ogg ? sad_face -->
        <video {% if header.value.muted %}muted{% endif %} {% if header.value.autoplay %}autoplay{% endif %} {% if header.value.loop %}loop{% endif %} {% if header.value.controls %}controls{% endif %} >
            <source src="{{ header.value.block_media.file.url }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        {% elif header.value.block_media.type == 'audio' %}
        <div class="bg_area">
        <audio {% if header.value.muted %}muted{% endif %} {% if header.value.autoplay %}autoplay{% endif %} {% if header.value.loop %}loop{% endif %} {% if header.value.controls %}controls{% endif %}>
            <source src="{{ header.value.block_media.file.url }}" >
            Your browser does not support the audio element.
        </audio>
        </div>
        {% elif header.value.image %}
        {% image header.value.image original as header_photo %}
        <div class="bg_area" style="background-image: url('{{ header_photo.url }}');">
        </div>
        {% else %}
            <div class="bg_area">

            </div>
        {% endif %}
    </div>
    {% endfor %}

    {% if page.specific.coverImage and page.specific.show_coverImage %}
    <div class="cover">
        {% image page.specific.coverImage original as tmp_photo %}
        <img src="{{ tmp_photo.url }}" alt="{{ tmp_photo.alt }}" class="top_cover_image" />
    </div>
    {% endif %}
    {% if page.specific.show_title %}
    <div class="title">
        <h2>{{ page.title }}</h2>
    </div>
    {% endif %}
    {% if page.specific.show_meta %}
    <div class="meta">
        {% if page.go_live_at and page.specific.show_date %}
            {{ page.go_live_at|date:"d M Y" }} 
        {% elif page.specific.show_date %}
            {{ page.first_published_at|date:"d M Y" }}
        {% endif %}
        {% if page.show_author  %} / {{ page.specific.author }}{% endif %}
    </div>
    {% endif %}
    {{ page.specific.body }}
    
{% endblock %}