{% extends "bird_base_content.html" %}

{% load wagtailcore_tags wagtailimages_tags %}


{% block header %}

{% if page.specific.hide_header == True %}
    {# No header #}
{% else %}
    {{ block.super }}
{% endif %}

{% endblock header %}


{% block content %}
<div class="content {{ page.specific.content_class|default:'' }}">

    {{ page.specific.top_hero }}

    {% if page.specific.show_breadcrumbs %}
    <div class="breadcrumbs">
        {% for ancestor in page.get_ancestors.public|slice:"2:" %}
        <a href="{% pageurl ancestor %}">{{ ancestor.title }}</a> /
        {% endfor %}
        {{ page.title  }}
    </div>
    {% endif %}
    
    {% if page.specific.image and page.specific.show_coverImage %}
    <div class="cover">
        {% image page.specific.image original as tmp_photo %}
        <img src="{{ tmp_photo.url }}" alt="{{ tmp_photo.alt }}" class="top_image" />
    </div>
    {% endif %}
    
    {% if page.specific.show_title %}
    <div class="title">
        <h1>{{ page.title }}</h1>
    </div>
    {% endif %}

    {% if page.specific.show_meta %}
    <div class="meta">
        {% if page.go_live_at and page.specific.show_date %}
            {{ page.go_live_at|date:"d M Y" }} 
        {% elif page.specific.show_date %}
            {{ page.first_published_at|date:"d M Y" }}
        {% endif %}
        {% if page.show_author  %} / {{ page.specific.author }}{% endif %}
    </div>
    {% endif %}

    {% if page.specific.intro %}
    <div class="intro">{{ page.specific.intro|richtext }}</div>
    {% endif %}
    

    {{ page.specific.body }}
    
</div>
{% endblock %}