{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block header %}
    {% if page.specific.hide_header == True %}
        {# No header #}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock header %}

{% block content %}
<div class="content ">
    {% if page.specific.show_breadcrumbs %}
    <div class="breadcrumbs">
        {% for ancestor in page.get_ancestors.public|slice:"2:" %}
        <a href="{% pageurl ancestor %}">{{ ancestor.title }}</a> /
        {% endfor %}
        {{ page.title  }}
    </div>
    {% endif %}
    {% for block in page.specific.body %}
    <div id=block-{{ forloop.counter }} class=block-{{ block.block_type }}>
        {% include_block block with block_number=forloop.counter %}
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block footer %}
    {% if page.specific.hide_header == True %}
        {# No header #}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock footer %}
