{% extends "base.html" %}

{% load wagtailcore_tags %}

{% wagtail_site as current_site %}

{% block header %}
<div class="bird_top_wraper_block ">
</div>

<div class="bird_top_wraper ">
    <div class="bird_top">
        <div class="bird_logo">
            <a href="{{ current_site.root_page.url }}" >
                {% if settings.birdapp657.BrandingSettings.logo %}
                    <img itemprop="logo" src="{{ settings.birdapp657.BrandingSettings.logo.file.url }}" alt="{{ settings.birdapp657.BrandingSettings.logo.alt }}" class="logo_img" />
                {% endif %}
                {% if settings.birdapp657.BrandingSettings.show_name %}
                <h1 >
                    {{ current_site.site_name|default:'' }}
                </h1>
                {% endif %}
            </a>
        </div>
        {% if settings.birdapp657.BrandingSettings.mobile_menu_page %}
            {% if page.title == settings.birdapp657.BrandingSettings.mobile_menu_page.title %}
            <a class="bird_mobile_menu active"
                href="javascript:history.back()">
                <div ></div>
            </a>
            {% else %}
            <a class="bird_mobile_menu "
                href="{{ settings.birdapp657.BrandingSettings.mobile_menu_page.url }}">
                <div ></div>
            </a>
            {% endif %}
        {% else %}
            <a id="bird_mobile_menu_dropdown" class="bird_mobile_menu"
                href="/">
                <div ></div>
            </a>
        {% endif %}

        {% if current_site.root_page.get_children.live.in_menu %}
        <div class="bird_menu">
            <ul class="bird_menu_list">
                {% for child in current_site.root_page.get_children.live.in_menu %}
                <li class="bird_menu_child">
                    {% if child.specific.menu_icon %}
                    <a href="{{ child.url }}"
                        class="icon {% if child.specific.hover_over_menu %}hover{% endif %}" >
                        {% if child.specific.hover_menu_icon %}
                            <img alt="{{ child.specific.menu_icon.alt }}" class="no_hover" src="{{ child.specific.menu_icon.file.url }}" width="24" height="24">
                            <img alt="{{ child.specific.hover_menu_icon.alt }}" class="hover" src="{{ child.specific.hover_menu_icon.file.url }}" width="24" height="24">
                        {% else %}
                        <img alt="{{ child.specific.menu_icon.alt }}" src="{{ child.specific.menu_icon.file.url }}" width="24" height="24">
                        {% endif %}
                    </a>
                    {% else %}
                        <a href="{{ child.url }}"
                            class="" >
                        {{ child.title }}
                        </a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
</div>
{% endblock header %}


{% block content %}
<div class="error-page">
    <h3>{{ error }}</h3>
</div>
{% endblock %}
