{% extends "base.html" %}

{% load wagtailcore_tags %}

{% wagtail_site as current_site %}

{% block header %}
<div class="bird_top_wraper_block ">
</div>

<div class="bird_top_wraper ">
    <div class="bird_top">
        <div class="bird_logo">
            <a href="{{ current_site.root_page.url }}" >
                {% if settings.birdapp657.BirdAppSettings.logo %}
                    <img itemprop="logo" src="{{ settings.birdapp657.BirdAppSettings.logo.file.url }}" alt="{{ settings.birdapp657.BirdAppSettings.logo.alt }}" class="logo_img" />
                {% endif %}
                {% if settings.birdapp657.BirdAppSettings.show_name %}
                <h1 >
                    {{ current_site.site_name|default:'' }}
                </h1>
                {% endif %}
            </a>
        </div>

        <a id="bird_mobile_menu_dropdown" class="bird_mobile_menu"
            href="/">
            <div ></div>
        </a>

        {% if current_site.root_page.get_children.live.in_menu %}
        <div class="bird_menu">
            <ul class="bird_menu_list">
                {% for child in current_site.root_page.get_children.live.in_menu %}
                <li class="bird_menu_child">
                    <a href="{{ child.url }}"
                        class="" >
                    {{ child.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
</div>
{% endblock header %}


{% block content %}
<div class="error-page">
    <h2>{{ error }}</h2>
</div>
{% endblock %}
