{% load wagtailcore_tags wagtailuserbar wagtailimages_tags %}
{% load static %}
{% load i18n %}
{% wagtail_site as current_site %}


{% with settings.birdapp657.BirdAppSettings as site_settings %}


<!DOCTYPE html>
<html lang="{{ site_settings.lang_code|default:'en' }}">


<head>

<meta charset="UTF-8">
<!--<meta http-equiv="Content-Security-Policy" content="script-src 'self' *.{{ current_site.hostname }}">-->
<!--<meta name="referrer" content="no-referrer">-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% if page.seo_title %}
<title >{{ page.seo_title }} - {{ current_site.site_name|default:'' }}</title>
{% elif page.title %}
<title >{{ page.title }} - {{ current_site.site_name|default:'' }}</title>
{% endif %}

{% if site_settings.icon %}
{% image site_settings.icon fill-64x64 format-png as site_icon %}
<link rel="icon" sizes="64x64" type="image/png" href="{{ site_icon.url }}">
<link rel="shortcut icon" sizes="64x64" type="image/png" href="{{ site_icon.url }}">
{% image site_settings.icon fill-32x32 format-png as medium_icon %}
<link rel="icon" sizes="32x32" type="image/png" href="{{ medium_icon.url }}">
<link rel="shortcut icon" sizes="32x32" type="image/png" href="{{ medium_icon.url }}">
{% image site_settings.icon fill-128x128 format-png as chrome_icon %}
<link rel="icon" sizes="128x128" type="image/png" href="{{ chrome_icon.url }}">
{% image site_settings.icon fill-192x192 format-png as android_icon %}
<link rel="icon" sizes="192x192" type="image/png" href="{{ android_icon.url }}">
{% image site_settings.icon fill-152x152 format-png as ios_icon %}
<link rel="apple-touch-icon" sizes="152x152" type="image/png" href="{{ ios_icon.url }}">
{% image site_settings.icon fill-180x180 format-png as ipad_icon %}
<link rel="apple-touch-icon" sizes="180x180" type="image/png" href="{{ ipad_icon.url }}">
{% endif %}

{% if site_settings.brand_fonts %}
<style type="text/css">
{% for brand_font in site_settings.brand_fonts.all %}
    @font-face {
        font-family: "{{ brand_font.font_family }}";
        src: url({{ brand_font.src_file.url }}) format("{{ brand_font.font_format }}");
        font-display: swap;
    }
{% endfor %}
</style>
{% endif %}

<meta name="twitter:card" content="summary_large_image" />

{% if page.seo_title %}
<meta property="og:title" content="{{ page.seo_title }}"/>
{% elif page.title %}
<meta property="og:title" content="{{ page.title }}"/>
{% endif %}

{% if page.search_description %}
<meta name="description" content="{{ page.search_description }}">
{% endif %}

{% if page.specific.tags.count > 1 %}
<meta name="keywords" content="{% for tag in page.specific.tags.all %}{% if forloop.last %}{{ tag }}{% else %}{{ tag }}, {% endif %}{% endfor %}">
{% elif page.specific.tags.exists %}
<meta name="keywords" content="{% for tag in page.specific.tags.all %}{{ tag }}{% endfor %}">
{% endif %}

<meta name="author" content="{{ page.owner.get_full_name }}">

{% if page.specific.image %}
{% image page.specific.image fill-1200x627 format-jpeg as og_image %}
<meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{{ og_image.url }}"/>

{% image page.specific.image fill-300x157 as twitter_image %}
<meta property="twitter:image" content="{{ request.scheme }}://{{ request.get_host }}{{ twitter_image.url }}"/>
<meta property="twitter:image:alt" content="{{ twitter_image.alt }}"/>
{% endif %}

{% if current_site.site_name %}
<meta property="og:site_name" content="{{ current_site.site_name }}"/>
{% endif %}

{% if page.search_description %}
<meta property="og:description" content="{{ page.search_description }}"/>
{% endif %}

{% if page.full_url %}
<meta property="og:url" content="{{ page.full_url }}"/>
{% endif %}

{% block ldjson %}
{% endblock ldjson %}

<link rel="stylesheet" type="text/css" href="{% static 'css/birdapp657/birdapp.css' %}" >

{% if site_settings.extra_css %}
<link rel="stylesheet" type="text/css" href="{{ site_settings.extra_css.url }}" >
{% endif %}

{% block extra_head %}
{% endblock extra_head %}

{% if site_settings.extra_head %}
{{ site_settings.extra_head|safe }}
{% endif %}

</head>


<body class="{{ page.slug }} {% if page.specific.transparent_header %}transparent_header{% endif %}">

    {% wagtailuserbar %}

    {% block header %}

    <header class="bird_top_wraper ">
    <!--[if IE]>
    <div class="browser-alert">
        You are using an <strong>outdated</strong> browser.
        Please <a style="text-decoration: underline;" href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and <strong>security</strong>.
    </div>
    <![endif]-->
        <div class="bird_top">
            <div class="bird_logo">
                <a href="{% pageurl current_site.root_page %}" >
                    {% if site_settings.logo %}
                        {% image site_settings.logo height-64 as site_logo %}
                    <img src="{{ site_logo.url }}" alt="{{ site_logo.alt }}" class="logo_img" itemprop="logo" />
                    {% endif %}
                    {% if site_settings.show_name %}
                    <span class="site_name">
                        {{ current_site.site_name|default:'' }}
                    </span>
                    {% endif %}
                </a>
            </div>
            {% if current_site.root_page.get_children.live.in_menu %}
                <button aria-label="{% translate 'Menu' %}" id="bird_mobile_menu_dropdown" class="bird_mobile_menu" ></button>
            {% endif %}
            <nav class="bird_menu">
                <ul class="bird_menu_list">
                    {% for child in current_site.root_page.get_children.live.in_menu %}
                    <li class="bird_menu_child">
                        <a href="{% pageurl child %}"
                            class="{% if child.title == page.title or child in page.get_ancestors %}active{% endif %}" >
                        {{ child.title }} {% if child.get_children.live.in_menu %}<span>&#x25BE;</span>{% endif %}
                        </a>
                        {% if child.get_children.live.in_menu %}
                        <ul class="bird_menu_child_list">
                            {% for grandchild in child.get_children.live.in_menu %}
                            <li class="bird_menu_grand_child">
                                <a href="{% pageurl grandchild %}"
                                    class="{% if page.title == grandchild.title or grandchild in page.get_ancestors %}active{% endif %}" >
                                {{ grandchild.title }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </li>
                    {% endfor %}
                    <li class="bird_menu_child">
                        <button aria-label="{% translate "Search" %}" class="search {% if request.path == '/search/' %}active{% endif %}" onclick="openSearch(); return false;">
                            <svg width="20" height="20">
                                <circle
                                    style="fill:none;fill-opacity:1;stroke-width:2.000;stroke-linecap:butt;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                                    cx="8.500"
                                    cy="8.500"
                                    r="7.000" />
                                <path
                                    style="fill:none;stroke-width:4;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                                    d="m 15.000,15.000 c 0,0 9.243915,9.344393 8.892245,8.892246"
                                    />
                            </svg>
                        </button>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <div id="BirdSearchOverlay" class="overlay" >
        <span class="close-overlay" onclick="closeSearch(); return false;" title="Close Overlay">x</span>
        <div class="overlay-content">
            <form action="/search/" method="POST">
                {% csrf_token %}
                <input type="text" type="text" id="id_search_query" name="search_query"
                    required="" placeholder="{% translate "Search" %}.." value="">
                <button type="submit">
                    {% translate "Search" %}
                </button>
            </form>
        </div>
    </div>

    {% endblock header %}


    {% block content %}
    {% endblock content %}


    {% block footer %}
    {% if site_settings.footer %}
    <footer class="footer">
        <style>
        @media (min-width: 900px) {
            .footer-row {
                grid-auto-flow: dense;
                grid-template-columns: repeat({{ site_settings.footer|length }}, 1fr);
            }
        }
        </style>
        <div class="footer-row" >
        {% for block in site_settings.footer %}
            <div class="footer-column">{% include_block block %}</div>
        {% endfor %}
        </div>
    </footer>
    {% endif %}
    {% endblock footer %}


    <script src="{% static 'js/birdapp657/birdapp.js' %}" async=""></script>


    {% if site_settings.extra_js %}
    <script src="{{ site_settings.extra_js.url }}" async=""></script>
    {% endif %}


</body>

</html>

{% endwith %}