{% load wagtailcore_tags wagtailuserbar wagtailimages_tags %}
{% load staticfiles %}
{% load static %}
<!DOCTYPE html>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% if page.seo_title %}
<title >{{ page.seo_title }} - {{ request.site.site_name|default:'' }}</title>
{% elif page.title %}
<title >{{ page.title }} - {{ request.site.site_name|default:'' }}</title>
{% endif %}

{% if settings.birdapp657.BrandingSettings.icon %}
    {% image settings.birdapp657.BrandingSettings.icon fill-64x64 as site_icon %}
    <link rel="icon" type="image/png" href="{{ site_icon.url }}">
    <link rel="shortcut icon" type="image/png" href="{{ site_icon.url }}">
{% endif %}

{% if page.search_description %}
    <meta name="description" content="{{ page.search_description }}">
{% endif %}

{% if page.specific.tags.count > 1 %}
<meta name="keywords" content="{% for tag in page.specific.tags.all %}{% if forloop.last %}{{ tag }}{% else %}{{ tag }}, {% endif %}{% endfor %}">
{% elif page.specific.tags.exists %}
<meta name="keywords" content="{% for tag in page.specific.tags.all %}{{ tag }}{% endfor %}">
{% endif %}

{% if page.specific.author %}
<meta name="author" content="{{ page.specific.author }}">
{% endif %}


{% if page.seo_title %}
<meta property="og:title" content="{{ page.seo_title }}"/>
{% elif page.title %}
<meta property="og:title" content="{{ page.title }}"/>
{% endif %}

{% if page.specific.coverImage %}
{% image page.specific.coverImage min-1200x627 format-jpeg as og_image %}
<meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{{ og_image.url }}"/>
{% endif %}

{% if request.site.site_name %}
<meta property="og:site_name" content="{{ request.site.site_name }}"/>
{% endif %}

{% if page.search_description %}
<meta property="og:description" content="{{ page.search_description }}"/>
{% endif %}

{% if page.full_url %}
<meta property="og:url" content="{{ page.full_url }}"/>
{% endif %}

<link rel="stylesheet" type="text/css" href="{% static 'css/birdapp657/birdapp.css' %}" lazyload>


{% if settings.birdapp657.BrandingSettings.extra_head %}
{{ settings.birdapp657.BrandingSettings.extra_head|safe }}
{% endif %}


        {% block bird_top %}
        <div class="bird_top_wraper {% if page.transparent_header %}transparent{% endif %}">
            <div class="bird_top">

                <div class="bird_logo">
                    <a href="{% pageurl request.site.root_page %}" >
                        <h1 >
                        {% if settings.birdapp657.BrandingSettings.logo %}
                            {% image settings.birdapp657.BrandingSettings.logo height-64 as site_logo %}
                            <img src="{{ site_logo.url }}" alt="{{ site_logo.alt }}" class="logo_img" />
                        {% endif %}
                        {% if settings.birdapp657.BrandingSettings.show_name %}
                            {{ request.site.site_name|default:'' }}
                        {% endif %}
                        </h1>
                    </a>
                </div>

                {% if settings.birdapp657.BrandingSettings.mobile_menu_page %}
                <a class="bird_mobile_menu {% if page.title == settings.birdapp657.BrandingSettings.mobile_menu_page.title %}active{% endif %}" 
                    href="{% pageurl settings.birdapp657.BrandingSettings.mobile_menu_page %}">
                    <div >        
                    </div>
                </a>
                {% endif %}

                {% if request.site.root_page.get_children.live.in_menu and page.show_menu %}
                <div class="bird_menu">
                    <ul class="bird_menu_list">
                        {% for child in request.site.root_page.get_children.live.in_menu %}
                        <li class="bird_menu_child test">
                            {% if child.specific.menu_icon %}
                            <a href="{% pageurl child %}"
                                class="icon {% if child.title == page.title or child in page.get_ancestors %}active{% endif %} {% if child.specific.hover_over_menu %}hover{% endif %}" >
                                {% if child.specific.hover_menu_icon %}
                                    {% image child.specific.menu_icon fill-24x24 class="no_hover" %}
                                    {% image child.specific.hover_menu_icon fill-24x24 class="hover" %}
                                {% else %}
                                    {% image child.specific.menu_icon fill-24x24 %}
                                {% endif %}
                            </a>
                            {% else %}
                                <a href="{% pageurl child %}"
                                    class="{% if child.title == page.title or child in page.get_ancestors %}active{% endif %}" >
                                {{ child.title }}
                                </a>
                            {% endif %}
                        {% if child.get_children.live.in_menu %}
                            <ul class="bird_menu_child_list">
                            {% for grandchild in child.get_children.live.in_menu %}
                                <li  class="bird_menu_grand_child">
                                    <a href="{% pageurl grandchild %}"
                                        class="{% if page.title == grandchild.title or grandchild in page.get_ancestors %}active{% endif %}" >
                                    {{ grandchild.title }}
                                    </a>
                                </li>
                            {% endfor %}
                            </ul>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}

            </div>

            {% if page.specific.show_breadcrumbs %}
            <div class="breadcrumbs_wraper">
                <div class="breadcrumbs">
                    {% for ancestor in page.get_ancestors.public|slice:"2:" %}
                    <a href="{% pageurl ancestor %}">{{ ancestor.title }}</a> /
                    {% endfor %}
                    {{ page.title  }}
                </div>
            </div>
            {% endif %}
            
        </div>
        {% endblock bird_top %}


        <div class="content {{ page.specific.content_width|default:'' }} {% if page.specific.transparent_header %}transparent{% endif %}">
        {% block content %}
        {% endblock %}
        </div>


        {% block footer %}
        {% if settings.birdapp657.BrandingSettings.footer %}
        <div class="footer {% if page.specific.transparent_header %}transparent{% endif %}">
            <div class="footer-row">
                    {% for block in settings.birdapp657.BrandingSettings.footer %}
                        <div class="footer-column">{% include_block block %}</div>
                    {% endfor %}
            </div>
        </div>
        {% endif %}
        {% endblock %}


{% wagtailuserbar %}
