
{% load wagtailcore_tags wagtailuserbar %}

{% load static %}


<link rel="stylesheet" type="text/css" href="{% static 'css/birdapp657/birdapp.css' %}" lazyload>


<div id="birdapp657">
    {% block bird_top %}
    <div class="bird_top wagtail_only">

        <div class="bird_logo">
            <a href="{% pageurl request.site.root_page %}" >
                <h1 >
                    {{ request.site.site_name }}
                </h1>
            </a>
        </div>

        {% if request.site.root_page.get_children.live.in_menu %}
        <div class="bird_menu">
            <ul class="bird_menu_child_list">
            {% for child in request.site.root_page.get_children.live.in_menu %}
                <li class="bird_menu_child">
                    {% if child.title == page.title %}
                    <a href="{% pageurl child %}" class="active" >{{ child }}</a>
                    {% else %}
                    <a href="{% pageurl child %}">{{ child }}</a>
                    {% endif %}
                    {% if child.get_children.live.in_menu %}
                        <ul class="bird_menu_grand_child_list">
                        {% for grandchild in child.get_children.live.in_menu %}
                            <li  class="bird_menu_grandchild">
                                {% if page.title == grandchild.title %}
                                    <a href="{% pageurl grandchild %}" class="active" >{{ grandchild }}</a>
                                {% else %}
                                    <a href="{% pageurl grandchild %}" >{{ grandchild }}</a>
                                {% endif %}
                            </li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% wagtailuserbar %}

</div>