{% load wagtailcore_tags wagtailuserbar %}
{% load staticfiles %}
{% load static %}
<!DOCTYPE html>

{% if page.seo_title %}
<title >{{ page.seo_title }} - {{ request.site.site_name }}</title>
{% elif page.title %}
<title >{{ page.title }} - {{ request.site.site_name }}</title>
{% endif %}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">

<link rel="icon" type="image/png" href="{% static 'img/logo.png' %}">
<link rel="shortcut icon" type="image/png" href="{% static 'img/logo.png' %}">

{% if page.search_description %}
    <meta name="description" content="{{ page.search_description }}">
{% elif request.site.name %}
    <meta name="description" content="{{ request.site.name }} - {{ page.description }}">
{% endif %}

{% if page.specific.tags.count > 1 %}
<meta name="keywords" content="{% for tag in page.specific.tags.all %}{% if forloop.last %}{{ tag }}{% else %}{{ tag }}, {% endif %}{% endfor %}">
{% elif page.specific.tags.exists %}
<meta name="keywords" content="{% for tag in page.specific.tags.all %}{{ tag }}{% endfor %}">
{% endif %}

{% if page.specific.author %}
<meta name="author" content="{{ page.specific.author }}">
{% endif %}

{% block app_extra_head %}
{% endblock %}

<link rel="stylesheet" type="text/css" href="{% static 'css/birdapp657/birdapp.css' %}" lazyload>


    {% block app %}
    <div id="birdapp657">
        {% block bird_top %}
        <div class="bird_top_wraper {% if page.transparent_header %}transparent{% endif %}">
        <div class="bird_top">

            <div class="bird_logo">
                <h1 >
                    <a href="{% pageurl request.site.root_page %}" >
                        {{ request.site.site_name }}
                    </a>
                </h1>
            </div>

            {% if request.site.root_page.get_children.live.in_menu and page.show_menu %}
            <div class="bird_menu">
                <ul class="bird_menu_list">
                    {% for child in request.site.root_page.get_children.live.in_menu %}
                    <li class="bird_menu_child">
                        <a href="{% pageurl child %}"
                            class="{% if child.title == page.title or child in page.get_ancestors %}active{% endif %}" >
                        {{ child }}
                        </a>
                    {% if child.get_children.live.in_menu %}
                        <ul class="bird_menu_child_list">
                        {% for grandchild in child.get_children.live.in_menu %}
                            <li  class="bird_menu_grand_child">
                                <a href="{% pageurl grandchild %}"
                                    class="{% if page.title == grandchild.title or grandchild in page.get_ancestors %}active{% endif %}" >
                                {{ grandchild }}
                                </a>
                            </li>
                        {% endfor %}
                        </ul>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>

        {% if page.show_breadcrumbs %}
        <div class="breadcrumbs_wraper">
            <div class="breadcrumbs">
                {% for ancestor in page.get_ancestors.public|slice:"2:" %}
                <a href="{% pageurl ancestor %}">{{ ancestor.title }}</a> /
                {% endfor %}
                {{ page.title  }}
            </div>
        </div>
        {% endif %}
        </div>
        {% endblock %}

        <div class="content_wrapper">
            <div class="content_head_block {% if page.transparent_header %}transparent{% endif %}"></div>
            {% block content %}
            {% endblock %}
        </div>

        {% wagtailuserbar %}

    </div>
    {% endblock %}

<link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}" lazyload>
